<head>
    <meta charset="utf-8">
    <link type="text/css" rel="stylesheet" href="/static/css/common.css">
    <style>
        table {
            border: 1px solid #000;
            border-collapse: collapse;
            border-spacing: 0;
        }
        td, th {
            border: 1px solid #000;
        }
    </style>
</head>
<body>
    <header><h1>CREATE USER</h1> current user : <span>{{session["empno"]}}</span></header>
    <a href="/logout">ログアウト</a>
    <a href="/users">一覧に戻る</a>
    {% if message != "" %}
        <span>{{message}}</span>
    {% endif %}
    <form action="/user/create" method="POST">
        <table>
            <tbody>
                <tr><th>社員番号</th><td><input type="text" name="empno" id="empno" minlength="4" maxlength="4" pattern="^\d{4}$" required></td></tr>
                <tr><th>パスワード</th><td><input type="text" name="password" id="password" minlength="6" pattern="^[a-zA-Z0-9_;\-]+$" required></td></tr>
                <tr><th>名字(日本語)</th><td><input type="text" name="lastname_ja" id="lastname_ja" required></td></tr>
                <tr><th>名前(日本語)</th><td><input type="text" name="firstname_ja" id="firstname_ja" required></td></tr>
                <tr><th>名字(英語)</th><td><input type="text" name="lastname_en" id="lastname_en" required></td></tr>
                <tr><th>名前(英語)</th><td><input type="text" name="firstname_en" id="firstname_en" required></td></tr>
                <tr><th>Email</th><td><input type="text" name="email" id="email" required></td></tr>
                <tr><th>管理者</th><td><input type="number" name="admin" id="admin" pattern="[01]" maxlength="1" required></td></tr>
            </tbody>
        </table>
        <input type="submit" value="登録">
    </form>
    <!-- <script src="/static/js/create_user.js"></script> -->
</body>
